
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Auto Manufacturers
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Cord</ion-label>
        <ion-radio value="cord"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Duesenberg</ion-label>
        <ion-radio value="duesenberg"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Hudson</ion-label>
        <ion-radio value="hudson"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Packard</ion-label>
        <ion-radio value="packard"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Studebaker</ion-label>
        <ion-radio value="studebaker"></ion-radio>
      </ion-item>
    </ion-radio-group>


    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Color
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Red</ion-label>
        <ion-radio value="red"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Blue</ion-label>
        <ion-radio value="blue"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Green</ion-label>
        <ion-radio value="green"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Purple</ion-label>
        <ion-radio value="purple"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Indigo</ion-label>
        <ion-radio value="indigo"></ion-radio>
      </ion-item>
    </ion-radio-group>
  